#keyboard-container {
	margin-top: 10px;
}

.key {
	height: 75px;
	width: 75px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	overflow: hidden;
	border: 1px solid white;
	background-color: #303235;
	transition: 0.07s;
	color: white;
	font-family: "Comic Sans MS";
	font-size: 19px;
	font-weight: lighter;
}

[data-show="false"] {
	background-color: grey;
}

.playing {
	transform: scale(0.9);
	border-color: #ffc600;
}